.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}


.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px ;
    background: dark;
    position: relative;
}