.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: top;
}

#circle {
    position: relative;
    justify-content: center;
    background-color: white;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 200px;
    padding: 20px;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-Top: 50,
}