.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}


.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px ;
    background: dark;
    position: relative;
}
.blog > input {
    border-radius: 8px;
    border: 1px solid;
    outline: black;
    color: grey;
    margin: 0.9rem 0;
    padding: 0.5rem 0 0.75rem;
    width: 60%;
    font-size: 1rem;
}

.blog > .button {
    background: gray;
    border: 1px solid #181818;
    color: dark;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 00.5rem;
    border-radius: 8%;
    outline: none;
    cursor: pointer;
}

#circle {
    position: relative;
    justify-content: center;
    background-color: white;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 200px;
    padding: 20px;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-Top: 50,
}